.logo{
    position: fixed;
    right: 20px;
    top: 20px;

}

.logo:hover{
    background: #fc0;
    padding: 3px;
    opacity: 0.75;
    border-color: #E4B636;
    border-style: solid;
}
